/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */

body {
    color: white;
}

/* COMMON */

body {
    background-color: black;
}

button {
    border: 0;
    background-color: #4a4a4a;
    color: white;
    padding: 5px 7px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.user-name {
    font-size: 14px;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* MAIN */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;
    overflow: auto;
    margin: 0 auto;
}

.video-box {
    position: relative;
}

.video-box img {
    border: 1px forestgreen solid;
}

.user-name {
    position: absolute;
    left: 5px;
    bottom:5px;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 3px;
}