/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TYPOGRAPHY */

body {
    color: white;
}

/* COMMON */

body {
    background-color: black;
}

header button {
    border: 0;
    background-color: #4a4a4a;
    color: white;
    padding: 5px 7px;
    font-weight: 700;
    border-radius: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.user-name {
    font-size: 14px;
}

footer .fa-solid, footer .fa-brands {
    font-size: 30px;
}

footer .fa-chevron-up {
    font-size: 13px;
}

footer span {
    font-size: 14px;
}

/* HEADER */

header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

/* MAIN */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    height: 100vh;
    width: 100vw;
    padding-top: 40px;
    overflow: auto;
    margin: 0 auto;
}

.video-box {
    position: relative;
}

.user-name {
    position: absolute;
    left: 5px;
    bottom:5px;
    background-color: rgba(0, 0, 0, 0.397);
    padding: 3px;
}

/* FOOTER */

footer {
   height: 80px;  /* can give fixed height as webApp */
   display: flex;
   background-color: #222222;
}

/* LEFT ICONS */

.button-left {
    width: 15%;
    display: flex;
    align-items: center;
    position: relative;
}

.button-left i {
    margin: 0 10px;
}

.icon-div {
    display: flex;
    flex-direction: column;
    text-align: center; 
}

/* CENTER BAR */

.center-bar {
    flex-grow: 1;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.center-bar i {
    margin: 0 20px;
}

.fa-share-from-square {
    color: #4bc800;
}


/* RIGHT ICONS */

footer button {
    padding: 20px;
    color: red;
    font-size: 16px;
    background-color: #4a4a4a;
}

